
/* reset styles*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}

/* header positioning and size */
header {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 75px;
  width: 100vw;
  padding: 15px;
  background-color: white;
}

/* button size*/
.hamburger-menu input {
  width: 50px;
  height: 50px;
  display: block;
}

/* dropdown menu styles */
.dropdown-menu {
  /* position */
  position: absolute;
  top: 75px;
  right: 0px;
 
  /* color */
  background-color: white;
  border-top: 1px solid black;

  /* hide menu */
  opacity: 0;
  transform: translateX(100%);

  /* size */
  min-width: 150px;
  min-height: 200px;

  /* set transition effect */
  transition: all 1s ease-in-out;
}

/* make dropdown visible when checked */
/* (select dropdown butten) (next sibling selector) (.dropdown-menu) */
.hamburger-menu:has(input:checked) + .dropdown-menu {
  opacity: 1;
  transform: translateX(0);
}